<div class="section" id="skill">
        <div class="container">
          <div class="h4 text-center mb-4 title">Skills</div>
          <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">Java</span>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">Javascript</span>
                  </div>
                </div>
                  <div class="col-md-3">
                    <div class="progress-container progress-primary">
                      <span class="progress-badge">C</span>
                     
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-container progress-primary">
                      <span class="progress-badge">Python</span>
                     
                    </div>
                  </div>
                
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">PHP</span>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">Angular8</span>
                  </div>
                </div>
                  <div class="col-md-3">
                    <div class="progress-container progress-primary">
                      <span class="progress-badge">HTML5 & CSS3</span>
                     
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-container progress-primary">
                      <span class="progress-badge">MySQL</span>
                     
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">SQLite</span>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">Selenium</span>
                  </div>
                </div>
                  <div class="col-md-3">
                    <div class="progress-container progress-primary">
                      <span class="progress-badge">JUnit</span>
                     
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="progress-container progress-primary">
                      <span class="progress-badge">JSP & Servelts</span>
                     
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>