<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title" align="center">About</div>
              <p>Hello World! I'm <strong>Amit</strong>, a Computer Science graduate passionate about technology and exploring the intersection between Software Application development, Web Development and Mobile app development. </p>


              <p>
                I'm fast learner with a deep understanding of programming. I believe learning a new language is usually more syntactical than functional. Good personal skills with the ability to explain complex computer logic to anyone (usually with diagrams). I Enjoy the open source movement because it facilitates the study of other peoples code, logic, and algorithms to gain deeper understanding and perspective of your own.
              </p> 
                
          
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>