<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2019</p>
              <div class="h5">Master's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Master of Science</div>
               <h4 class="category">The University of Texas at Arlington</h4>
               <ul>
                <li>Major: Computer Science</li>
                <li>Coursework: Design and Analysis of Algorithms, Database Management, Software Engineering: Design, Development & Testing, Spatial Data Management, Data Mining,  Computer Networks</li>

             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 - 2017</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Technology</div>
               <h4 class="category">Jawaharlal Nehru Technological University Hyderabad</h4>
               <ul>
                <li>Major: Computer Science and Engineering</li>
             </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>