<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/w2.jpg" alt="Card image"  style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Personal Portfolio</h4>
          <h5 class="card-text">Designed and developed my own portfolio website using HTML5, CSS3, Angular8 and Bootstrap3 </h5>
           
          <a href="https://github.com/amit63/Portfolio" class="btn btn-primary stretched-link">Github Repository</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/workorder.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Work Order System</h4>
           <h5 class="card-text">Designed, developed and tested an application for managing work orders using Java,JSP & Selenium</h5>
    
            
        
          <a href="https://github.com/amit63/WorkOrderManagementSystem" class="btn btn-primary stretched-link">Github Repository</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/petstore.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Pet Store </h4>
          <h5 class="card-text">Designed and developed a website for a Pet Store using PHP CodeIgniter framework</h5>             
         <a href="https://github.com/amit63/PetStore" class="btn btn-primary stretched-link">Github Repository</a>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/Leanjobs.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Lean Jobs App</h4>
           <h5 class="card-text">Designed and developed an Job portal Application using Android Java, Android XML, MySQL and PHP.</h5>
           
          <a href="https://github.com/amit63/leanjobs" class="btn btn-primary stretched-link">Github Repository</a>
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/cs.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Distributed System Projects</h4>
           <h5 class="card-text">Developed a simple multithreaded client server application using Java Swing and socket programming</h5>
             
          <a href="https://github.com/amit63/ClientServerInteractor" class="btn btn-primary stretched-link">Github Repository</a>
        </div>
        </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" >
        <img class="card-img-top" src="assets/images/bustrack.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Bus Tracking App</h4>
           <h5 class="card-text">Developed a Bus Tracking Application using Android Java, Android XML and Firebase notifications</h5>
            <a href="https://github.com/amit63/leanjobs" class="btn btn-primary stretched-link">Github Repository</a>
        </div>
        </div>
        </div>
        </div>
    
    </div>
    </div>
  </div>